td, th {
  width: 8rem;
  height: 4rem;
  border: 1px solid #ccc;
  text-align: center;
}
th {
  background: lightblue;
  border-color: white;
}
body {
  padding: 1rem;
}
.contact100-form-result{
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 88px 57px 190px;
}

.wrap-contact100-result {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
